.bg-color {
  &-pastel {
    &-white-card {background-color: #F5F4F4;}
    &-red {background-color: #FF7B7B;}
    &-violet {background-color: #857BFF;}
    &-green {background-color: #7EFF8B;}
    &-grey {
      background-color: #CCC;

      &-disbaled {background-color: #DEDEDE;}
    }
  }

  &-yaz {
    &-red {background-color: #F97A7A;}
    &-yellow {background-color: #EFE47E;}
    &-green {background-color: #5DC593;}
    &-white-card {background-color: #F6F6F6;}
    &-sky-blue {
      &-dark {background-color: #0A72D2;}
    }
    &-grey {
      &-light {background-color: #D9D9D9;}
      &-dark {background-color: #A6A6A6;}
    }
  }
}