.txt-size {
  // pixels
  &-6 {font-size: 6px;}
  &-7 {font-size: 7px;}
  &-8 {font-size: 8px;}
  &-9 {font-size: 9px;}
  &-10 {font-size: 10px;}
  &-11 {font-size: 11px;}
  &-12 {font-size: 12px;}
  &-13 {font-size: 13px;}
  &-14 {font-size: 14px;}
  &-15 {font-size: 15px;}
  &-20 {font-size: 20px;}
  &-30 {font-size: 30px;}
  &-31 {font-size: 31px;}
  &-32 {font-size: 32px;}
  &-40 {font-size: 40px;}
  &-50 {font-size: 50px;}
  &-60 {font-size: 60px;}
  &-70 {font-size: 70px;}
  &-80 {font-size: 80px;}
  &-90 {font-size: 90px;}
  &-100 {font-size: 100px;}
}