.hover {
  &-txt {
    &-color {
      &-white:hover {color: white}
      &-warning:hover {color: hsl(48, 100%, 67%);}
      &-primary:hover {color: hsl(238, 49%, 19%);}
      &-blue:hover{color:hsl(229, 53%, 53%);}    
    }
  }
}