/* Write your global styles here, in SCSS syntax. Variables and mixins from the src/variables.scss file are available here without importing */ /* Import only what you need from Bulma */
@import 'bulma/sass/utilities/_all';
@import 'bulma/sass/base/_all';
@import 'bulma/sass/elements/_all';
@import 'bulma/sass/form/_all';
@import 'bulma/sass/components/_all';
@import 'bulma/sass/grid/_all';
@import 'bulma/sass/helpers/_all';
@import 'bulma/sass/layout/_all';


// Font imports from google fonts and based in canva system design by co-designer Hazel Anne M. Mejias
@import url('https://fonts.googleapis.com/css2?family=DM+Sans&display=swap');
.dm-sans {
  font-family: 'DM Sans', sans-serif;
}

@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');
.fredokaone {
  font-family: 'Fredoka One', cursive;
}

@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');
.quicksands {
  font-family: 'Quicksand', sans-serif;
}

@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
.lobster {
  font-family: 'Lobster', cursive;
}

// Custom class for button in homepage
.button-centerx {
  @media only screen and (max-width: 1023px) {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
  }
}

// Basic transition for all if applicable
.has-transition {
  transition: all .35s ease;
}

// For some DOM changes that need to remove other element or component
.undisp {
  display: none;
}

// For custom padding of interafaces
.pl-x {
  padding-left: 220px;
}