.opacity {
  &-10p {opacity: 10%;}
  &-15p {opacity: 15%;}
  &-20p {opacity: 20%;}
  &-25p {opacity: 25%;}
  &-30p {opacity: 30%;}
  &-35p {opacity: 35%;}
  &-40p {opacity: 40%;}
  &-45p {opacity: 45%;}
  &-50p {opacity: 50%;}
  &-55p {opacity: 55%;}
  &-60p {opacity: 60%;}
  &-65p {opacity: 65%;}
  &-70p {opacity: 70%;}
  &-75p {opacity: 75%;}
  &-80p {opacity: 80%;}
  &-85p {opacity: 85%;}
  &-90p {opacity: 90%;}
  &-95p {opacity: 95%;}
  &-100p {opacity: 100%;}
}