.z {
  &-0 {z-index: 0;}
  &-5 {z-index: 5;}
  &-10 {z-index: 10;}
  &-15 {z-index: 15;}
  &-20 {z-index: 20;}
  &-25 {z-index: 25;}
  &-30 {z-index: 30;}
  &-35 {z-index: 35;}
  &-40 {z-index: 40;}
  &-45 {z-index: 45;}
  &-50 {z-index: 50;}
  &-55 {z-index: 55;}
  &-60 {z-index: 60;}
  &-65 {z-index: 65;}
  &-70 {z-index: 70;}
  &-75 {z-index: 75;}
  &-80 {z-index: 80;}
  &-85 {z-index: 85;}
  &-90 {z-index: 90;}
  &-95 {z-index: 95;}
  &-100 {z-index: 100;}

  // negative
  &-n5 {z-index: -5;}
  &-n10 {z-index: -10;}
  &-n15 {z-index: -15;}
  &-n20 {z-index: -20;}
  &-n25 {z-index: -25;}
  &-n30 {z-index: -30;}
  &-n35 {z-index: -35;}
  &-n40 {z-index: -40;}
  &-n45 {z-index: -45;}
  &-n50 {z-index: -50;}
  &-n55 {z-index: -55;}
  &-n60 {z-index: -60;}
  &-n65 {z-index: -65;}
  &-n70 {z-index: -70;}
  &-n75 {z-index: -75;}
  &-n80 {z-index: -80;}
  &-n85 {z-index: -85;}
  &-n90 {z-index: -90;}
  &-n95 {z-index: -95;}
  &-n100 {z-index: -100;}
}